$table_xpadd: 10px;

.home {

    .drink-menu {
        min-height: 80vh;
        margin: 20px;

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto 50px;

            &:first-child {
                margin-top: 50px;
            }
    
            & th {
                background-color: #f2f2f2;
                padding: 15px $table_xpadd !important;
                position: relative;
            }
    
            & tr>* {
                border: 1px solid #ddd;
                padding: 8px;
            }
    
            & td:nth-child(1) {
                width: 50%;
            }
    
            & td:not(:nth-child(1)) {
                text-align: right;
            }

            & .add-item-button {
                border: 1px solid black;
                padding: 5px 10px;
                position: absolute;
                top: 50%;
                right: $table_xpadd;
                transform: translateY(-50%);
            }
        }
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    .modal-content>input:text {
        width: 100%;
    }

    .modal-header {
        background-color: $brown4;
        display: block;
        align-items: flex-end;
        height: 30px;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}