.search-cocktail {

    #cocktailPage {
        margin: 50px auto;
        width: 100%;
        max-width: 1200px;
    }

    #searchContainer {
        margin-bottom: 15px;
        
        .search-wrapper {
            width: 100%;
            background: linear-gradient(to right, $brown2, $brown3);
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 5px;
            padding: 20px 15px;
            border-radius: 5px;

            .input-wrapper {
                position: relative;

                #input {
                    width: 100%;
                    border: none;
                    border-radius: 15px;
                    padding: 15px 20px 15px 50px;
                    font-size: 1.1rem;
                }
    
                // Search icon
                i {
                    position: absolute;
                    left: calc(55px / 2);  // input padding
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
        }

    }


    #cocktailContainer {
        padding: 15px 10px;
        opacity: 1;
        transition: opacity 0.1s ease-in;

        &.isFetching {
            opacity: 0.5;
        }

        &>div {
            padding: 10px;
        }
    
        .cocktail-card {
            background: rgba(0, 0, 0, 0.01);
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 5px;
                
            img {
                width: 100%;
                max-height: 80vh;
                object-fit: cover;
                object-position: center;
                transition: max-height 0.1s ease-in;

                &:not(:hover) {
                    max-height: 250px;
                }
            }

            .card-body {
                padding: 10px;

                .title {
                    margin: 5px 0;
                    text-align: center;
                }
            }

        }
    
    }

}