$brown1: #E5D3B3;
$brown2: #D2B48C;
$brown3: #b99976;
$brown4: #987554;
$brown5: #664229;

.bg-brown1 {
  background: $brown1 !important;
}

.bg-brown2 {
  background: $brown2 !important;
}

.bg-brown3 {
  background: $brown3 !important;
}

.bg-brown4 {
  background: $brown4 !important;
}

.bg-brown5 {
  background: $brown5 !important;
}

.mb30px {
  margin-bottom: 30px !important;
}