.home {

  .drink-menu {
    min-height: 80vh;
    margin: 20px;

    table {
      border-collapse: collapse;
      width: 80%;
      margin: 0 auto 50px;
    }

    table:first-child {
      margin-top: 50px;
    }

    table th {
      background-color: #f2f2f2;
    }

    table tr>* {
      border: 1px solid #ddd;
      padding: 8px;
    }

    td:nth-child(1) {
      width: 80%;
    }
  }
}