body {
    font-family: Arial, sans-serif;
}

.home {
    .top-bar {
        position: relative;
    
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: rgba(0, 0, 0, 0.3);
        }
    
        .caption {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.3);
            color: white;
            white-space: nowrap;
            padding: 20px 25px;
            font-size: 2rem;
            border-radius: 10px;
            user-select: none;
            cursor: pointer;
    
            &>*:first-child {
                font-weight: bold;
            }
    
            &>*:last-child {
                font-weight: normal;
            }
        }
    }
    
    
    .site-nav {
        background-color: #333;
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
    
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            white-space: nowrap;
        }
    
        a:hover {
            background-color: #ddd;
            color: black;
        }
    }
    
    .drink-menu {
        min-height: 80vh;
        margin: 20px;
    
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto 50px;
        }
        
        table:first-child {
            margin-top: 50px;
        }
        
        table th {
            background-color: #f2f2f2;
        }
        
        table tr>* {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        td:nth-child(1) {
            width: 80%;
        }
    }
    
    .site-footer {
        background-color: #333;
        text-align: center;
        padding: 15px 10px;
        color: white;
    }
}

.login {
    
}
